#api-title{
  text-align: center;
  background-color: #3b3b3b;
  border-radius: 10px;
}
.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 20px;
}
.card{
  width: 18rem;
  position: relative;
  text-align: center;
  /* From https://css.glass */
/* From https://css.glass */
  background: rgba(70, 63, 63, 0.55) !important;
  border-radius: 16px !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(10.3px) !important;
  -webkit-backdrop-filter: blur(10.3px) !important;
  border: 1px solid rgba(70, 63, 63, 0.58) !important;
  transition: transform 0.6s;
  
}

.cell {
  /* Cell styles */
  overflow: visible;
  transition: height 0.3s; /* Add a transition to the height property */
}

.cell.expanded {
  height: auto; /* Set the height to 'auto' to allow the cell to grow to fit its content */
}

.card:hover {
  /* Styles to apply when the mouse is hovering over the card */
  transform: translateY(-10px);
}

.profile-image{
  align-self: center;
}
.movies-related{
  list-style-type: none;
  text-align: left;
}

.profile-image > img{
  border-radius: 20px;
}

.button{
  padding-top: 1rem;
}

.hidden{
  display: none;
  transition: display 0.3s;
}

.uncover{
  display: block;
  transition: display 0.3s !important;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
