#api-title{
  text-align: center;
  background-color: #3b3b3b;
  border-radius: 10px;
}
.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 20px;
}
.card{
  width: 18rem;
  position: relative;
  text-align: center;
  background: rgba(70, 63, 63, 0.55) !important;
  border-radius: 16px !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(10.3px) !important;
  -webkit-backdrop-filter: blur(10.3px) !important;
  border: 1px solid rgba(70, 63, 63, 0.58) !important;
  transition: transform 0.6s;
}


.card:hover {
  /* Styles to apply when the mouse is hovering over the card */
  transform: translateY(-10px);
}

.profile-image{
  align-self: center;
}
.movies-related{
  list-style-type: none;
  text-align: left;
}

.profile-image > img{
  border-radius: 20px;
}

.button{
  padding-top: 1rem;
}
#overlay{
  position: fixed;
  /* opacity: 0; */
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  
  pointer-events: none;
}
#overlay.active{
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  opacity: 1;
  pointer-events: all;
}
.popup{
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.75);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  border: 1px solid rgba(255, 255, 255, 0.38);
  max-width: 50vw;
  border-radius: 5px ;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  z-index: 20;
}
.popup-header{
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup p{
  max-height: 20vh;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-wrap: break-word;
}
.popup p::-webkit-scrollbar {
  display: none;
}


@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
