/**
 * @file
 * Overall specifications for Mytheme.
 */
/* Body*/
ul{
  margin-bottom: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Header section*/
#block-movietheme-site-branding {
  display: flex;
  flex-direction: column;
}

.header {
  color: white;
  min-width: 90vw;
  padding-left: 1rem;
  font-weight: 600;
}

header ul {
  list-style-type: none;
}

header a {
  text-decoration: none;
  color: inherit;
}

.header-subitems {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#search-block-form {
  display: flex
}

#search-block-form input {
  border-radius: 3px;
}


.header img {
  max-width: 120px;
}

.block-movietheme-main-menu ul {
  padding: 0;
  display: flex;

}
/*END OF HEADER*/

/*NAVIGATION*/
.language-switcher-language-url{
  position: fixed;
  
  background-color: aliceblue;
  z-index: 10;
}

#lenguage-short{
  display: flex;
  justify-content:center;
}

.lenguage-image-icon{
  max-width: 60px;
}
/*END NAVIGATION*/
/*HOME PAGE */
.block-movietheme-main-menu ul li {
  padding-left: 10px;
}

.moviethememenu {
  position: relative;
  max-width: 30vw;
  max-height: 30vh;
}

.moviethememenu ul {
  list-style-type: none;
}

.slick--view.slick--view--last-added-movies.slick--view--last-added-movies--block-1 {
  padding: 0;
}

.slick.blazy img {
  margin: 0;
}

.slick.blazy .field-field {
  display: flex;
  justify-content: center;
}

.slick.blazy .field-field a {
  text-decoration: none;
  color: black;
  font-size: 3rem;
  text-align: center;
}

.slick.blazy .field-field .text-item {
  font-size: 2rem;
}
/*END OF HOME PAGE*/

/*START MOVIE CATALOG*/
.card-title {
  text-align: center;
}

.field-image {
  display: flex;
  justify-content: center;
}

.field-image img {
  max-width: 30vw;
}

.card-title h2 a {
  text-decoration: none;
  color: black;
}

.view-wrapper .Title .text-item{
  font-size: 3rem;
}

.view-wrapper .block-container div.block-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.view-wrapper .block-container div.block-container .Title{
  flex-direction: column;
}

.view-wrapper .block-container div.block-container .text-item {
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}

.view-wrapper .block-container div.block-container .text-item:first-child{
  text-align: center;
  font-size: 1.5rem;
}



.view-wrapper .Variations.block-container img {
  border-radius: 10px;
  transition: 0.3s;
}

.view-wrapper .Variations.block-container img:hover {
  transform: scale(1.05);
}

.view-wrapper .form-item.js-form-type-select{
  display: flex;
  align-items: center;
  flex-direction: row;
  
}
.view-wrapper .form-item.js-form-type-select label{
  padding-right: 10px;
}
.view-wrapper form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.black {
  background-color: black;
}

.product-custom{
 padding-top: 1rem;
 padding-left: 1rem;
}

/*END MOVIE CATALOG*/

/* PAGES */

#block-movietheme-page-title h1{
  text-align: center;
}

#block-movietheme-primary-local-tasks ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-evenly;
}
#block-movietheme-primary-local-tasks ul li{
  padding:1rem;
  margin:1px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
}
#block-movietheme-primary-local-tasks ul li a{
  font-weight: bold;
  padding:1rem;
  margin:1px;
  text-decoration: none;
  color: rgb(42, 116, 255);
}
#block-movietheme-primary-local-tasks > div > div.navbar-light.bg-light.tasks-bar{
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.171);
  padding: 5px;
  border-radius: 10px;
}
.navbar.tasks-bar{
 
  padding: 1rem;
}

.product-custom img{
  border-radius: 10px;
}

.navbar.tasks-bar .task-item li{
  margin-top: 1rem;
}
.product-custom .layout--twocol-section{
  display: grid;
  justify-items: center;
  align-items: start;
  grid-template-columns: repeat(2,1fr);
}
.product-custom{
  padding-bottom: 1rem;
}
.product-custom .product--variation-field--variation_price__1{
  padding-top: 1rem;
  font-size: 1.5rem;
}

.product-custom .Genre{
  margin-top: 1rem;
}

/*FOOTER*/
.footer{
  min-height: 20vh;
}

@media (max-width:768px) {


  .view-wrapper .views-row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .view-wrapper .field-image img {

    max-width: 50vw;

  }
  .view-wrapper .block-container div.block-container {
    flex-direction: column;
  }
}