/**
 * @file
 * Overall specifications for Mytheme.
 */

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

header{
  position: sticky;
}

#block-movietheme-site-branding{
  display: flex;
  flex-direction: column;
}

.header{
  background-color: darkred;
  color: white;
  min-width: 90vw;
  padding-left: 1rem;
  font-weight: 600;
}

header ul{
  list-style-type: none;
}

header a{
  text-decoration: none;
  color: inherit;
}

.header-subitems{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#search-block-form{
  display:flex
}
#search-block-form input{
  border-radius: 3px;
}


.header img{
  max-width: 120px;
}
.block-movietheme-main-menu ul{
  padding:0;
  display:flex;

}
.block-movietheme-main-menu ul li{
  padding-left:10px;
}
.moviethememenu{
  position: relative;
  max-width: 30vw;
  max-height: 30vh;
}

.moviethememenu ul{
  list-style-type: none;
}

.slick--view.slick--view--last-added-movies.slick--view--last-added-movies--block-1 {
  padding:0;
}
.slick.blazy img{
  margin: 0;
}
.slick.blazy .field-field {
  display: flex;
  justify-content: center;
}
.slick.blazy .field-field a{
  text-decoration: none;
  color: black;
  font-size: 3rem;
  text-align: center;
}

.slick.blazy .field-field .text-item{
  font-size: 2rem;
}

.card-title{
  text-align: center;
}

.field-image{
  display: flex;
  justify-content: center;
}
.field-image img{
  max-width: 30vw;
}

.card-title h2 a{
  text-decoration: none;
  color: black;
}